@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import 'custom';

body{
    background-color: #F6F6F2;
}

.navbar-brand:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navbar .nav-link:not(.dropdown-toggle):hover {
  border: 2px solid #198754;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  transition: all 0.2s ease;
  box-shadow: 0 2px 6px rgba(25, 135, 84, 0.4);
}

.navbar .dropdown-toggle:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(25, 135, 84, 0.3);
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}